@using Data.BLL
@using Data.Model
@using Web.Lib
@model Web.Controllers.UsersController.MODEL_USERS_Index
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Kullanıcı ve Yetkilendirme";
    var isEdit = Converting.GetBoolean(ViewBag.IsEdit);
}


<div class="object w100">
    
    <h2>Sistem Kullanıcıları Listesi</h2>

    @using (Html.BeginForm("Index", "Users", FormMethod.Post, new { @class = "notvalidate" }))
    {
        @Html.AntiForgeryToken()

        <table class="form-table">
            <tr>
                <td class="label">
                    @Html.DisplayNameFor(m => m.SEARCH_FORM.NAME)
                </td>
                <td>
                    @Html.EditorFor(m => m.SEARCH_FORM.NAME)
                </td>
                <td class="label">
                    @Html.DisplayNameFor(m => m.SEARCH_FORM.SURNAME)
                </td>
                <td>
                    @Html.EditorFor(m => m.SEARCH_FORM.SURNAME)
                </td>
                <td class="label">
                    @Html.DisplayNameFor(m => m.SEARCH_FORM.USERNAME)
                </td>
                <td>
                    @Html.EditorFor(m => m.SEARCH_FORM.USERNAME)
                </td>
                <td class="label">
                    Kullanıcı Grubu
                </td>
                <td>
                    @Html.Editor("USERGROUP_ID", "_Combobox", new { node = Enum_Combobox.UserGroups, selected = Model.USERGROUP_ID, style = "width:130px;" })
                </td>
            </tr>
        </table>

        <div class="buttons-area">
            <button class="default" type="button" form-id="addForm"><i class="fa fa-plus left fa-2x"></i>Yeni Kayıt</button>

            <button class="default" type="submit"><i class="fa fa-search left fa-2x"></i>Filtrele</button>
        </div>
    }

    <div class="clear mt10px"></div>


    <div id="gridim" class="w100">

        @Html.MyGrid(Model.TBL_USER, new[]
        {
            new WebGridColumn{ ColumnName = "Name", Header = "Ad Soyad", Format = @<text>@(item.NAME + " " + item.SURNAME)</text>, CanSort = true},
            new WebGridColumn{ Header = "Kullanıcı Adı", Format = @<text>@item.USERNAME</text>},
            new WebGridColumn{ Header = "E-Posta", Format = @<text>@item.EMAIL</text>},
            new WebGridColumn{ Header = "Kayıt Tarihi", Format = @<text>@item.ADDED_DATETIME</text>},
            new WebGridColumn{ Header = "Kullanıcı Grubu", Format = @<text>
            @{
                                                                             List<TBL_USER_PERMISSION> _item = item.TBL_USER_PERMISSION;
                                                                             if (_item != null)
                                                                             {
                                                                                 var p = "";
                                                                                 foreach (var perm in _item.Where(w => !w.USERGROUP_ID.Equals(null)))
                                                                                 {
                                                                                     p += perm.TBL_USERGROUP.NAME + ", ";
                                                                                 }
                                                                                @(p.Trim().TrimEnd(','))
                                                                             }
            }
            </text>},
            new WebGridColumn{ Header = "İşlem", Format = @<text>
            <a class="change" href="@Url.Action("ActiveChange", new { id = item.ID })">@Html.Raw(item.ACTIVE ? "<i title='Sisteme erişimi Aktif.' class='fa fa-circle green'></i>" : "<i title='Sisteme erişimi Pasif.' class='fa fa-circle gray'></i>")</a>
            <a title="Yetkileri" href="@Url.Action("Permissions", new { id = item.ID })"><i class="fa fa-lock"></i></a>
            <a title="Düzenle" href="@Url.Action("Index", new { USERID = item.ID })"><i class="fa fa-pencil"></i></a>
            @{
                                                                   List<TBL_USER_PERMISSION> _item = item.TBL_USER_PERMISSION;
                                                                   if (_item.All(a => a.USERGROUP_ID != (int) Enum_UserGroups.Administrator))
                                                                   {
                                                                    <text>
                                                                        <a class="delete" title="Sil" href="@Url.Action("Delete", new { id = item.ID })"><i class="fa fa-times"></i></a>
                                                                    </text>
                                                                   }
            }
            </text>, Style = "setting w90px"}

        }, "gridim")

    </div>




</div>

<div class="addEditFormArea" id="addForm">
    <i class="close-form fa fa-times-circle" title="Kapat"></i>
    @{ Html.RenderPartial("Add", Model); }
</div>



<div class="addEditFormArea" id="editForm">
    <i class="close-form fa fa-times-circle" title="Kapat"></i>
    @{ Html.RenderPartial("Edit", Model); }
</div>

@section scripts {
    
    <script type="text/javascript">
        $(document).ready(function () {
            @if (isEdit)
            {
                <text>
                    $('#editForm').addClass('open');
                </text>
            }
        });
    </script>

}
